services:
    service:
        build:
          context: .
          dockerfile: Dockerfile.dev
        ports:
          - 8002:80
        depends_on:
          - mongodb
          - meilisearch
        networks:
          - sail 
        volumes:
          - ./src:/app/src
          - .env:/app/.env
          - ./pom.xml:/app/pom.xml
          - ./target:/app/target
    mongodb:
        image: mongo:7
        container_name: mongodb
        ports:
          - 27017:27017
        environment:
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: root
          MONGO_INITDB_DATABASE: products
        volumes:
          - mongo-data:/data/db
        networks:
          - sail
    meilisearch:
      image: getmeili/meilisearch:v1.11
      container_name: meilisearch
      ports:
        - 7700:7700
      environment:
        MEILI_MASTER_KEY: masterKey123
      volumes:
        - meili-data:/meili_data
      networks:
        - sail
networks:
    sail:
        external: true
volumes:
    pgsql:
        driver: local
    mongo-data:
        driver: local
    meili-data:
        driver: local
