services:
    service:
        build:
          context: .
          dockerfile: Dockerfile.dev
        ports:
          - 8002:80
        environment:
          EUREKA_HOST: eureka-service-1:80
        depends_on:
          - meilisearch
        networks:
          - sail 
        volumes:
          - ./src:/app/src
          - ./pom.xml:/app/pom.xml
    meilisearch:
      image: getmeili/meilisearch:v1.11
      container_name: meilisearch
      ports:
        - 7700:7700
      environment:
        MEILI_MASTER_KEY: masterKey123
      volumes:
        - meili-data:/meili_data
      networks:
        - sail
networks:
    sail:
        external: true
volumes:
    pgsql:
        driver: local
    mongo-data:
        driver: local
    meili-data:
        driver: local
