services:
    service:
        build:
          context: .
          dockerfile: Dockerfile.dev
        ports:
          - 8002:80
        environment:
          EUREKA_HOST: eureka-service-1:80
        depends_on:
          - opensearch
        networks:
          - sail 
        volumes:
          - ./src:/app/src
          - ./pom.xml:/app/pom.xml
    opensearch:
      image: opensearchproject/opensearch:2.14.0
      container_name: opensearch
      environment:
        - discovery.type=single-node
        - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
        - OPENSEARCH_INITIAL_ADMIN_PASSWORD=Clave_Super_Segura_2025!
        - plugins.security.disabled=true      
      volumes:
        - opensearch-data:/usr/share/opensearch/data
      ports:
        - "9200:9200"
        - "9600:9600"
      networks: 
        - sail
networks:
    sail:
        external: true
volumes:
    opensearch-data:
        driver: local
